<form id='feedback-form' action="/feedback" method="post">
    <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center default-text py-3"><i class="fa fa-lock"></i>Love to hear your <i>feedback!</i></h3>
                    <!--Body-->
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="defaultForm-fName" class="form-control">
                        <label for="defaultForm-fName">First Name</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="defaultForm-lName" class="form-control">
                        <label for="defaultForm-lName">Last Name</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="defaultForm-email" class="form-control">
                        <label for="defaultForm-email">Email</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="text" id="defaultForm-comments" class="form-control">
                        <label for="defaultForm-comments">Comments</label>
                    </div>
                    <button id="submit-button" type="submit" value=submit class="btn btn-primary btn-sm">Submit</button>
                </div>
            </div>
            
        </div>
    </form>
  