<div class="container-fluid" >
    <div class="row" style='width:100%; float:none; margin: 0 auto;'>
        
        <div id='box01' class="col-lg-4 col-md-6 col-sm-10">
        </div>

        <div id='box03' class="col-lg-4 col-md-6 col-sm-10">
                <!-- <%- include todo.ejs %> -->
                </div>
                
        <div id='box02' class="col-lg-4 col-md-6 col-sm-10">
            
            <div id='box02a' class="row">   

            <!-- YOUTUBE STUFF LIVES HERE -->
                <div id = "youtubeDivID">
                        <input id="youtubeQuery" placeholder="Search Here" type="text">
                        <button class='btn btn-danger' type="button" id="youtubeButton">Youtube!</button>

                        
                        <div id="youtubeVideoSpot"></div>
                        
                        
                </div>

        </div>
        <div id='box02b' class="row">
            

        <!-- STOCK STUFF LIVES HERE -->
            <div id = "stocklist" style = "height: 100px; width: 350px">
                    <input id="stockQuery" placeholder="Input custom stock ticker" type="text">
                    <button type="button" class='btn btn-primary' id="stockButton">Stocks</button> 
                    <div class="container" style="color:white; text-shadow: 1px 1px black; font-size: 12px; position: relative; top:-30px">
                        <div class="row">
                            <div id='tesla' class="col-2"><br>
                                <div id='tesla01'></div><br>
                                <div id='tesla02'></div><br>
                                <div id='tesla03'></div><br>
                                <div id='tesla04'></div><br>
                                <div id='tesla05'></div><br>
                            </div>
                            <div id='apple' class="col-2"><br>
                                <div id='apple01'></div><br>
                                <div id='apple02'></div><br>
                                <div id='apple03'></div><br>
                                <div id='apple04'></div><br>
                                <div id='apple05'></div><br>
                            </div>
                            <div id='microsoft' class="col-2"><br>
                                <div id='msft01'></div><br>
                                <div id='msft02'></div><br>
                                <div id='msft03'></div><br>
                                <div id='msft04'></div><br>
                                <div id='msft05'></div><br>
                            </div>
                            <div id='qualcomm' class="col-2"><br>
                                <div id='qcom01'></div><br>
                                <div id='qcom02'></div><br>
                                <div id='qcom03'></div><br>
                                <div id='qcom04'></div><br>
                                <div id='qcom05'></div><br>
                            </div>
                            <div id='twitter' class="col-2"><br>
                                <div id='twtr01'></div><br>
                                <div id='twtr02'></div><br>
                                <div id='twtr03'></div><br>
                                <div id='twtr04'></div><br>
                                <div id='twtr05'></div><br>
                            </div>
                            <div id='customStock' class="col-2"><br>
                                <div id='cstock01'></div><br>
                                <div id='cstock02'></div><br>
                                <div id='cstock03'></div><br>
                                <div id='cstock04'></div><br>
                                <div id='cstock05'></div><br>
                            </div>
                            
                    </div>
                </div>

            </div> 
        </div>

     
    </div>
    </div>




<!-- RESERVE CODE FOR BOX01 TESTING -->
<!-- <div style="display:flex; height: 100px; margin-bottom: 5px; background-color:burlywood">
            <div style="width: 20%; background-image:url('https://i.ebayimg.com/images/g/k5cAAOSwNSxVeEJv/s-l300.jpg'); background-size:cover; background-repeat:no-repeat; height:100px; width:100px;"></div>
            
            <div style="width: 80%">
            <ul style="list-style: none; width: 100%; margin-left: -30px; margin-top: -5px; line-height: 0px;">
                <li style="font-size: 14px; margin-bottom:-25px">Title is going to be super long</li>
                <li style="font-size: 12px; margin-bottom:-10px">Source Name</li>
                <li style="font-size: 12px; line-height: 13px;">Description of the news article which contains information pertaining to the news article </li>
            </ul>
            </div> -->
            
        <!-- </div> -->
    