<div class="container-fluid" >
    <div class="row" style='width:100%; float:none; margin: 0 auto;'>
        <div id='box01' class="col-lg-4 col-md-6 col-sm-10">
 
        </div>
        <div id='box02' class="col-lg-4 col-md-6 col-sm-10">
        <div id='box02a' class="row">   

            <!-- YOUTUBE STUFF LIVES HERE -->
                <div id = "youtubeDivID">
                        <button class='btn btn-danger' type="button" id="youtubeButton">Youtube Me</button>
                        <input id="youtubeQuery" placeholder="Search Here" type="text">
                        <div id="youtubeVideoSpot"></div>
                        
                        
                    </div>

        </div>
        <div id='box02b' class="row">
            

        <!-- STOCK STUFF LIVES HERE -->
            <div id = "stocklist" style = "height: 100px; width: 300px">
                    <input id="stockQuery" placeholder="Search by stock ticker $$$" type="text">
                    <button type="button" id="stockButton">$tock$</button>
                </div>

        </div>
        </div>
        <div id='box03' class="col-lg-4 col-md-6 col-sm-10">
        <%- include todo.ejs %>
        </div>
    </div>
    </div>




<!-- RESERVE CODE FOR BOX01 TESTING -->
<!-- <div style="display:flex; height: 100px; margin-bottom: 5px; background-color:burlywood">
            <div style="width: 20%; background-image:url('https://i.ebayimg.com/images/g/k5cAAOSwNSxVeEJv/s-l300.jpg'); background-size:cover; background-repeat:no-repeat; height:100px; width:100px;"></div>
            
            <div style="width: 80%">
            <ul style="list-style: none; width: 100%; margin-left: -30px; margin-top: -5px; line-height: 0px;">
                <li style="font-size: 14px; margin-bottom:-25px">Title is going to be super long</li>
                <li style="font-size: 12px; margin-bottom:-10px">Source Name</li>
                <li style="font-size: 12px; line-height: 13px;">Description of the news article which contains information pertaining to the news article </li>
            </ul>
            </div> -->
            
        <!-- </div> -->
    