<nav class="navbar navbar-expand-lg">
        

        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">(◕‿◕✿)</a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="#">Music</a>
            <a class="nav-item nav-link active" href="#">Sports</a>
            <a class="nav-item nav-link active" href="#">Finance</a>
          </div>
        </div>

        <!-- THIS IS CLICKABLE / ADDITIONAL FORMATTING NEEDED -->
        <!-- <ul id='navStats'>
        <li><a id='navDate' href="#">Date</a></li>
        <li><a id='navTime' href="#">Time</a></li>
        <li><a id='navTemp' href="#">Temperature</a></li>
        </ul>
         -->

        <!-- THIS INPUTS THEM AS A LIST BUT THEN ITS NOT CLICKABLE -->
        <a id="navStats" href="#">        
          <li href="#" id='navDate'>Date</li>
          <li href="#" id='navTime'>Time</li>
          <li href="#" id='navTemp'>Temp</li>
        </a>
        
      </nav>


