<img id ="lucidLogo" src="/images/logo.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">

<h1 class="display-3">Good Day, User!</h1>

<form class="search-container" action="/google" target="_blank">
        <!-- <input type="text" id="search-bar" placeholder="What's the plan for today?"> -->
        <input name="q" type="search" id="search-bar" placeholder="What's the plan for today?">
        
        <input class="search-icon" type="image" alt="submit" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png" value="go" >
        
        <!-- <a href="#"><img class="search-icon" type="submit" value="go" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a> -->
</form>

