
<h1 class="display-3">Good Day, User!</h1>

<form class="search-container">
        <input type="text" id="search-bar" placeholder="What's the plan for today?">
        <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
</form>
    