<div id='mainField' class='main mt-5'>
		<h1 class='text-white m-0 p-3 '>  So, what we working with?
			<i class="fas fa-shopping-basket mr-2"></i>
			<!-- <i class="fas fa-wine-glass-alt"></i> -->
			<span class='plus'>
				<i class="fas fa-plus float-right"></i>
			</span>
		</h1>
		<input id='mainInput' type="text" placeholder="Add Ingredients Here">
		<ul id='mainUl' class='list-group list-unstyled m-0 p-0'>
			<!-- <li class='list-item'>
				<span class='trash'>
					<i class="fas fa-trash-alt"></i>
				</span>
				Brocolli
			</li> -->
        </ul>
        <button id='submitButton' type="button" class="btn btn-warning">I'm hungry</button>
    </div>