<!-- <div id='mainField' class='main mt-0'> </div> -->


<form id="mainField" action="/todo" method="post">	
		<!-- <h1 id='toDoInput' class='text-white m-0 p-3 '>  So, what we working with? -->
			<!-- <i class="fas fa-shopping-basket mr-2"></i> -->
			<!-- <i class="fas fa-wine-glass-alt"></i> -->
			<!-- <span class='plus'>
				<i class="fas fa-plus float-right"></i>
			</span>
		</h1> -->
		<input id='mainInput' type="text" placeholder="Click Here To Add Tasks">
		<span>
		</span>

		<ul id='mainUl' class='list-group list-unstyled m-0 p-0'>
			<!-- <li class='list-item'>
				<span class='trash'>
					<i class="fas fa-trash-alt"></i>
				</span>
			</li> -->
		</ul>
		<button type="button" value="submit" id='submitButton' type="button" class="btn btn-warning">Click to Add</button>
	</form>