<!doctype html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" /> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">	
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bodystyle.css">


</head>
  <body>

    <!-- Navbar lives in Partials. Woop! -->
    <%- include partials/navbar.ejs %>
    <%- include partials/searchBar.ejs %>
    <%- include partials/mainBody.ejs %>
        
    <div id = "youtubeDivID">
      <input id="youtubeQuery" style = "width: 500px" placeholder="What video are you feelin'?" type="text">
      <button type="button" id="youtubeButton">Youtube Time!</button>
    </div>

    <div id = "stocklist" style = "height: 100px; width: 300px">
      <input id="stockQuery" placeholder="Search by stock ticker $$$" type="text">
      <button type="button" id="stockButton">$tock$</button>
    </div>
    <div id = "randomquote" style = "height: 100px; width: 400px; background-color: red "></div>

    <a href="./logout">
      <button id= "logoutbutton" class="btn">
        Logout <span class="badge badge-primary"></span>
      </button>
    </a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/js/todo.js"></script>
    <script src='/js/dateTime.js'></script>
    <script src='/js/stock.js'></script>
    <!-- <script src="../app.js"></script> -->
    <script src="/js/youtube.js"></script>
    <script src="/js/news.js"></script>
    <!-- <script src="/js/stock.js"></script> -->
    <!-- <script src="/js/quotes.js"></script> -->
    <script>
 
    
    
    
    
    </script>
</body>
</html>