<!doctype html>
<html lang="en">
  <head>
    <title>Registration</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

  </head>
  <body>
      
      <%- include partials/navbar.ejs %>

      <video autoplay loop id="myVideo" src="./images/bg_3_video.mov"></video>

      <form id='feedback-form' action="/register" method="POST" class = "animated fadeIn slower">
        <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center default-text py-3"><i class="fa fa-lock"></i><b>Register Here</b></h3>
                        <!--Body-->
                        <div class="md-form">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input name="email" type="text" id="defaultForm-email" class="form-control">
                            <label for="defaultForm-email">Email</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input name="username" type="text" id="defaultForm-username" class="form-control">
                            <label for="defaultForm-username">Username</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input name="password" type="password" id="defaultForm-password" class="form-control">
                            <label for="defaultForm-password">Password</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input name="firstName" type="text" id="defaultForm-firstName" class="form-control">
                            <label for="defaultForm-firstName">First Name</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input name="lastName" type="text" id="defaultForm-lastName" class="form-control">
                            <label for="defaultForm-lastName">Last Name</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input name="zipcode" type="text" id="defaultForm-zipcode" class="form-control">
                            <label for="defaultForm-zipcode">Zip Code</label>
                        </div>
                        <button id="submit-button" type="submit" value=submit class="btn btn-primary btn-sm">Submit</button>
                    </div>
                </div>
            </div>
        </form>

        <a href="./login">
            <button id ="loginbutton" class="btn">
            Login <span class="badge badge-primary"></span>
          </button>
        </a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>