<!doctype html>
<html lang="en">
  <head>
    <title>Index</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<<<<<<< HEAD:views/index.ejs
    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">	
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bodystyle.css">
=======
    <style type="text/css">
      #login {
          display: none;
      }
  
      #loggedin {
          display: none;
      }
  
  </style>

>>>>>>> Raul:views/spotify.ejs
  </head>

  <body>
<<<<<<< HEAD:views/index.ejs
    
    <!-- Navbar lives in Partials. Woop! -->
    <%- include partials/navbar.ejs %>
    <!-- Search Bar too -->
    <%- include partials/searchBar.ejs %>
    <!-- Main Layout too? Whaaat? :P -->
    <%- include partials/mainBody.ejs %>


        
    <div id = "youtubeDivID" style = "height: 500px; width: 500px"></div>
    <a href="./register">
      <button id ="registerbutton" class="btn">
        Register <span class="badge badge-primary"></span>
      </button>
    </a>
    <a href="./login">
      <button id ="loginbutton" class="btn">
      Login <span class="badge badge-primary"></span>
    </button>
  </a>
    <a href="./logout">
      <button id ="logoutbutton" class="btn">
        Logout <span class="badge badge-primary"></span>
      </button>
    </a>
=======
    <div>
        <div id="login">
        <h1>First, log in to spotify</h1>
            <a href="/login">Log in</a>
        </div>
        <div id="loggedin">
        </div>
    </div>

    <script id="loggedin-template" type="text/x-handlebars-template">
        <h1>Logged in as </h1>
        <img id="avatar" width="200" src="" />
        <dl>
            <dt>Display name</dt><dd></dd>
            <dt>Username</dt><dd></dd>
            <dt>Email</dt><dd></dd>
            <dt>Spotify URI</dt><dd><a href=""></a></dd>
            <dt>Link</dt><dd><a href=""></a></dd>
            <dt>Profile Image</dt><dd></dd>
        </dl>
        <p><a href="/">Log in again</a></p>
    </script>
</body>
</html>




>>>>>>> Raul:views/spotify.ejs

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/js/todo.js"></script>
    <script src='/js/dateTime.js'></script>
    <script src='/js/news.js'></script>
    <script src="../app.js"></script>
    <script src="/js/youtube.js"></script>
    <script src="/js/news.js"></script>
  </body>
</html>