body { 
    background: url('https://pbs.twimg.com/media/DMDIKcyWsAEsKDj.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-item,.navbar-nav {
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: white;
    background-color: transparent;
}
.nav-item:hover,.navbar-nav:hover {
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color:yellow;
    background-color: transparent;
}

.navbar-brand{
        color: white;
        background-color: transparent;
}
.navbar-brand:hover{
        color: yellow;
        background-color: transparent;
}

 

  /* h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 46px;
    font-size: 40px;
    margin: 0 0 23px 0;
    }
h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 23px 0;
    } */